/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    text-align: center;
    background-size: cover;

    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

    .banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 2em;
        color: black;
        font-weight: 500;
        text-shadow: 0 1px 1px black;
    }

.next-tables {
	margin-top: 50px;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.button-next {
	font-size: 300%;
	border-radius: 10px;
	background: #519251;
	color: white;

}

.small {
	font-size: 100%;
}
/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the typing table elements
 */
 .typing-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.typing-tables {
    margin-bottom: 3.125em;
    text-align: center;
    background: LightBlue;
	border-radius: 10px;
	
}


.typing-table-header {
    color: #fff;
}
    .typing-table-header h2 {
        margin: 0;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;

    }


.typing-table-type {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .typing-table-type span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various typing tables
 */
@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .typing-table {
        margin-bottom: 0;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
    .banner {
		margin-top: 100px;
        height: 100px;
    }
    .banner-head {
        font-size: 3em;
    }
}


.correct{
    color: green;
}
.incorrect{
    color: red;
}
.to-enter{
    color: gray;
]
